[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
psycopg2-binary = "*"
pandas = "*"
sqlalchemy = "*"
sqlalchemy-redshift = "*"

[requires]
python_version = "3.6"
